body {
  font-family: sans-serif;
}

.my-navbar {
  background-color: #96b6c5;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #adc4ce;
}

#projects {
  background-color: #adc4ce;
}

section {
  padding-top: 5rem;
}
